/* Estilos Gerais */

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #D6D6D4;
}

p {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
	line-height: 20px;
}

img {
	display: block;
	max-width: 100%;
}

.btn {
	transition: ease;
	transition-duration: 0.4s;
	border: 5px solid #484B4D;
	padding: 10px 30px;
	color: #484B4D;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1em;
	background: #d799ee;
}

.btn:hover {
	transition: ease;
	transition-duration: 0.4s;
	border-color: #693a7a;
	color: #693a7a;
	background: #b079c4;
}

.btn-cinza {
	border-color: #D6D6D4;
	color: #D6D6D4;
	background: #484B4D;
}

.btn.btn-cinza:hover {
	transition: ease;
	transition-duration: 0.4s;
	border-color: #484B4D;
	color: #484B4D;
	background: #363636;
}

.subtitulo {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #484B4D;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.subtitulo:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #484B4D;
	margin: 8px auto;
}

.subtitulo-interno {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.subtitulo-interno:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 8px 0;
}

/* Header */

.header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #533440;
	padding: 15px 0;
	z-index: 10;
}

.header_menu {
	text-align: right;
}

.header_menu ul li {
	display: inline-block;
	margin-left: 25px;
	margin-top: 20px;
}

.header_menu ul li a {
	transition: ease;
	transition-duration: 0.4s;
	color: #D6D6D4;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0;
}

.header_menu ul li a:hover {
	transition: ease;
	transition-duration: 0.4s;
	color: #814B95;
}

.header_menu ul li a.menu_ativo {
	color: #814B95;
}

/* Introdução */

.introducao {
	width: 100%;
	height: 380px;
	background: url("../img/Interseção\ 4.jpg") no-repeat center;
	margin-top: 82px;
	text-align: center;
	padding-top: 80px;
	box-shadow:inset 0px -20px 3px -10px #D6D6D4;
}

.introducao h1 {
	font-size: 48px;
	color: #D6D6D4;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: -15px;
	margin-bottom: 40px;
}

.quote-externo {
	max-width: 320px;
	margin: 0 auto;
	margin-bottom: 40px;
	color: #D6D6D4;
}

.quote-externo p {
	font-style: italic;
}

.quote-externo p:before, .quote-externo p:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #D6D6D4;
	margin: 14px auto 10px auto;
}

.quote-externo cite {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: .1em;
}

/*Introducao Interna*/

.introducao-interna {
	width: 100%;
	margin-top: 82px;
	height: 160px;
	text-align: center;
	color: #D6D6D4;
	padding-top: 30px;
}

.introducao-interna h1 {
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

.introducao-interna h1:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #D6D6D4;
	margin: 6px auto 10px auto;
}

/*Produtos e Serviços*/

.produtos {
	padding: 60px 0;
}

.produtos_lista li{
	background: #533440;
	text-align: center;
	color: #D6D6D4;
}

.produtos_lista li img {
	margin: 0 auto;
}

.produtos_lista li h3{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top: 20px;
}

.produtos_lista li h3:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #D6D6D4;
	margin: 2px auto;
}

.produtos_lista li p {
	padding: 10px 20px 20px 20px;
}

.call {
	padding-top: 40px;
	text-align: center;
	clear: both;
}

.call p{
	margin-bottom: 30px;
	color: #484B4D;
}

/*Portfólio*/

.quote_portfolio {
	padding: 60px 0;
	max-width: 460px;
	margin: 0 auto;
}

.quote_portfolio p{
	text-align: center;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 18px;
	line-height: 25px;
	font-style: italic;
	margin-bottom: 20px;
}

.quote_portfolio cite {
	font-size: 18px;
	font-weight: bold;
	float: right;
	font-style: normal;
}

.portfolio {
	width: 100%;
	background: #1d1d1d;
	padding: 60px 0;
	box-shadow:inset 0px 20px 3px -10px #D6D6D4;
}

.interna_portfolio {
	background: url("../img/bg-portfolio.jpg") no-repeat center;
	box-shadow:inset 0px -20px 3px -10px #D6D6D4;
}

.portfolio .subtitulo {
	color: #D6D6D4;
}

.portfolio .subtitulo:after {
	background: #D6D6D4;
}

.portfolio_lista {
	color: #fff;
	display: inline-flexbox;
	align-items: stretch;

}

.item {
	flex: 1;
	margin: 5px;
	padding: 0 10px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

/* .portfolio_lista1 {
	flex-direction: row;
} */

.portfolio_lista li:last-child {
	margin-top: 20px;
}

.portfolio .call p {
	color: #fff;
}

/* Página Sobre */
.interna_sobre {
	background: url("../img/bg-sobre.jpg") no-repeat center;
	box-shadow:inset 0px -20px 3px -10px #D6D6D4;
}

.texto-sobre {
	margin-top: 100px;
}
.foto-adao {
	margin: 100px 0px;
}

/* Página Contato */

.interna_contato {
	background: url("../img/bg-contato.jpg") no-repeat center;
	box-shadow:inset 0px -20px 3px -10px #D6D6D4;
}

.contato {
	padding: 40px 0;
}

.contato_form {
	padding-right: 60px;
}

.contato_form label{
	display: block;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 4px;
	color: #1d1d1d;
}

.contato_form input {
	display: block;
	width: 100%;
	border: 4px solid #533440;
	background: none;
	padding: 7px 10px;
	margin-bottom: 10px;
	outline: none;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", serif;
}

.contato_form textarea {
	display: block;
	width: 100%;
	height: 120px;
	border: 4px solid #533440;
	background: none;
	padding: 7px 10px;
	margin-bottom: 20px;
	outline: none;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", serif;
}

.contato_form button {
	padding: 7px 40px;
}

.orcamento_dados {
	color: #fff;
}

.contato_dados h3{
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #533440;
	font-weight: bold;
}

.contato_dados span {
	display: block;
	font-size: 18px;
	line-height: 30px;
	font-family: Georgia, "Times New Roman", serif;
	color: #1d1d1d;
}

.contato_dados ul {
	margin-top: 10px;
}

.contato_dados ul li {
	display: inline-block;
	margin-right: 10px;
}

.contato_dados ul li a {
	border: 4px solid #533440;
	display: block;
}

.contato_dados ul li a:hover {
	transition: ease;
	transition-duration: 0.4s;
	border-color: #814B95;
	
}

.contato_mapa {
	margin-bottom: 60px;
	text-align: center;
}

.contato_redes {
	margin-top: 60px;
}

/*Quebra*/

.quebra {
	width: 100%;
	height: 180px;
	background: url("../img/quote-footer.png") no-repeat center;
	background-size: cover;
	text-align: center;
	padding-top: 33px;
	box-shadow:inset 0px 20px 3px -10px #D6D6D4;
}

.quebra_escuro{
	box-shadow:inset 0px 20px 3px -10px #1d1d1d;
}

.quebra .quote-externo {
	max-width: 400px;
	color: #484B4D;
}

/*Footer*/

.footer {
	width: 100%;
	background: #CCA7B6;
	color: #484B4D;
	padding: 20px 0;
}

.footer h3 {
	font-size: 18px;
	line-height: 25px;
	color: #484B4D;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
}

.footer h3:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #484B4D;
	margin: 6px 0 12px 0;
}

.footer_historia {
	padding-right: 40px;
}

.footer_contato ul li {
	font-size: 14px;
	line-height: 20px;
	font-family: Georgia, "Times New Roman", serif;
}

.footer_redes ul li {
	display: inline-block;
	margin-right: 4px;
}

.footer_redes ul li a {
	transition: ease;
	transition-duration: 0.4s;
	border: 4px solid #484B4D;
	display: block;
}

.footer_redes ul li a:hover {
	border-color: #fff;
}

.copy {
	width: 100%;
	background: #484B4D;
	padding: 10px 0;
	color: #D6D6D4;
}

/*JAVASCRIPT*/

.js [data-slide] {
	position: relative;
  }
  .js [data-slide] > * {
	position: absolute;
	top: 0px;
	opacity: 0;
  }
  .js [data-slide] > .active {
	position: relative;
	opacity: 1;
	transition: opacity 500ms;
  }
  
  .js [data-slide-nav] {
	  display: block;
	  text-align: center;
	  margin-top: 20px;
  }
  
  .js [data-slide-nav] button {
	  display: inline-block;
	  width: 12px;
	  height: 12px;
	  margin: 4px;
	  border: none;
	  padding: 0px;
	  border-radius: 6px;
	  text-indent: -99px;
	  overflow: hidden;
	  background: #1d1d1d;
  }
  
  .js [data-slide-nav] button.active {
	  background: #fec63e;
  }
  
  .js [data-anime] {
	  opacity: 0;
  }
  
  .js .fadeInDown {
	  transform: translate3d(0, -20px, 0);
  }
  
  .js .anime {
	  opacity: 1;
	  transform: none;
	  transition: opacity 800ms, transform 800ms;
  }


@media only screen and (min-width: 788px) and (max-width: 979px) {
.introducao{
	margin-top: 50px;
}
}
